@media all and (min-width: 480px) {
  .Signup {
    /* padding: 60px 0; */
    /* background-image: url(../../../src/assets/img/homeopathy.jpg); */
  
  }

  .Signup form {
    margin: 0 auto;
    max-width: 55%;

    box-shadow: 0px 2px 6px #818181;
  }
}

.mres1{
  padding: 0 !important;
}

.Signup form span.help-block {
  font-size: 14px;
  padding-bottom: 10px;
  color: #999;
}



hr{
  background: #48c7ec;
  margin-top: 30px !important;
  margin-bottom: 25px !important;
}

h4{
  text-transform: uppercase;
}

.clrcode {
  background: #08478e;
  color: white !important;
  font-size: 13px;
  margin-bottom: 0;

}

.frmgrp{
margin-bottom: 0rem !important;
}

.col-form-lbl{
font-size: 12px !important;
}

.form-cnt{
  padding: 0.1rem 0.5rem !important;
  font-size: 12px !important;
  line-height: 1 !important;
  height: 30px !important;
}

.wid50 {
/* background: #f5f4f4a3; */
}

.btn_Cancel{
  background-color: rgb(216 32 32 / 73%);
  border-radius: 50px;
  text-transform: uppercase;
  padding: 8px 25px;
  border-color: red;
  font-weight: 400;
}

.brds{
  padding-left: 0 !important;
    font-size: small !important;
    color: black !important;
}

.lbls {
  line-height: 1 !important;
  margin-top: 12px !important;
  margin-bottom: -4px !important;
  font-weight: 500 !important;
  font-size: 14px !important;
}