@media all and (min-width: 480px) {
  .CaseEntry {
    padding: 60px 0;
  }

  .CaseEntry form {
    margin: 0 auto;
    max-width: 55%;
  }
}

.CaseEntry form span.help-block {
  font-size: 14px;
  padding-bottom: 10px;
  color: #999;
}

.add{
  float: right;
  margin-top: 10px;
}
.table-bordered {
  border: 2px solid burlywood;
}