.icon-color{
    color: #808080;
    margin-left: 2px;
    width: 24px;
    height: 22px;
}
.tbl{
    text-align: center;
    font-size: 14px;
}
.tbl1{
    text-align: left;
    font-size: 14px;
}
.tbl2{
    text-align: right;
    font-size: 14px;
}
.walk{
    color: #FFA833;
}
.dash{
    color: #999;
    font: normal 17px Open Sans;
}
.button1{
    background: rgb(0, 181, 233);
    color: white;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid rgb(0, 181, 233);
    padding: .375rem .75rem;
    font-size: 14px;
    line-height: 1.5;
    border-radius: .25rem;
}
.button1:hover{
background-color: rgb(0, 181, 233);
text-decoration: none;
opacity: .7;
}
.home{
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.home b{
    display: none;
    position: absolute;
    text-align: center;
    background-color:white;
    font-size: 12px;
    border-radius: 2px;
    width: 90px;  
    padding: 2px 1px;
    top: 80%;
    left: 50%;
    margin-left: 10px;
}
.home:hover b{
    display:inline-block;
    font-weight: normal;
    border: 1px solid;
}

div.sticky {
  font-size: 10px;
  text-transform: uppercase;
  background-color: #0027529e;
  border-radius: 25px;
  position: fixed;
  border: 1px solid #8a8a91;
  bottom: 7px;
  height: 30px;
  /* width: 67%; */
  color: white;
  float: right;
  right: 4px;
  font-style: italic;
  padding-left: 1px;
  }

  .rndv{
      border-radius: 50%;
      padding: 6px 10px;
      border: 1px solid #05274c;
      background: #073160;
        cursor: pointer;
        border: 1px solid #7a7aa7;
  }

  .rndvtxt {
    position: relative;
    display: inline-block;
    width: 80px;
    text-align: center;
}

.rndvlast{
  background: #073160;
  text-align: right !important;
  border-radius: 15px;
  padding: 3px 0px;
}

  .stickyc{
    margin-top: 7px;
    text-align: center;
  }








  .card-trial,
  .card-basic,
  .card-premium,
  .card-standard,
  .card-gold,
  .card-super {
  padding: 0 0 0.5rem 0;
  line-height: 2.5;
  background: #F8F9F9 ;
  color: #444;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 2rem rgba(51, 51, 51, 0.2);
  overflow: hidden;
  transition: all 0.1ms ease-in-out;
  margin-bottom: 20px;
  }
  .card-trial:hover,
  .card-basic:hover,
  .card-premium:hover,
  .card-standard:hover,
  .card-gold:hover,
  .card-super:hover {
  transform: scale(1.02);
  }

  .card-headers {
    height: 2.5rem;
    
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.2rem;
    padding: 0.3rem 0;
    color: #fff;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
  }

  .header-trial,
  .btn-trial {
  background: linear-gradient(135deg, #d58ff9, #ff007a);
  }

  .header-basic,
  .btn-basic {
  background: linear-gradient(135deg, #0077ee, #06c766);
  }

  .header-standard,
  .btn-standard {
  background: linear-gradient(135deg, #4c0896, #f42ca1);
  }

  .header-gold,
  .btn-gold {
  background: linear-gradient(135deg, #eea300, #ee5700);
  }

  .header-super,
  .btn-super {
  background: linear-gradient(135deg, #00ffef, #05742d);
  }

  .header-premium,
  .btn-premium {
  background: linear-gradient(135deg, #3788be, #6f28ad);
  }

  .card-bodys {
  padding: 0.3rem 0;
  }
  .card-bodys h2 {
  font-size: 2rem;
  font-weight: 700;
  }

  .card-element-containers {
  color: black;
  list-style: none;
  padding: 0;
  }

  .card-titles{
    font-size: 18px;
    padding-top: 4px;
  }

  .card-elements{
    line-height: 1.7;
  }

  .btns {
    padding-top: 0px;
    padding-bottom: 2px;
    outline: none;
    border-radius: 0.4rem;
    font-size: 10px !important;
    font-weight: 700;
    color: #fff !important;
    border: none;
    cursor: pointer;
    transition: all 0.1ms ease-in-out;
  }

  .btns:hover {
  transform: scale(0.95);
  }

  .btns:active {
  transform: scale(1);
  }

  .card-element-hiddens {
  display: none;
  }

  .fdiv{
    padding: 5px 5px 5px 15px !important;
  }

  .sdiv{
    padding: 5px !important;
  }

  .tdiv{
    padding: 5px 15px 5px 5px !important;
  }

  .cardtextl{
    position: absolute;
  }

  .cardsearch{
    width: 200px !important;
    float: right;
    margin-top: -7px !important;
    margin-bottom: -8px;
    margin-right: -6px;
  }

  .side-navigation-panel-select-option-text{
    margin-left: 0.5rem !important;
  }


  .form-control {
    font-size: 12px !important;
  }

