@media all and (min-width: 480px) {
    .Signup {
      padding: 60px 0;
      background-image: url(../../../src/assets/img/home.jpg);
    }
  
    .Signup form {
      margin: 0 auto;
      max-width: 55%;
    }
  }

  
  
  .Signup form span.help-block {
    font-size: 14px;
    padding-bottom: 10px;
    color: #999;
  }

  .wid50 {
     background: #f5f4f4a3;
  }

  hr {
    background: #48c7ec;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}